*.o
*.d
*.txt
/test
/spirv-cross
*.spv
/obj
/msvc/x64
/msvc/Debug
/msvc/Release
*.suo
*.sdf
*.opensdf
*.shader
*.a
*.bc
/external
/reference/
/samples/
/shaders-hlsl/
/shaders-hlsl-no-opt/
/shaders-msl/
/shaders-msl-no-opt/
/shaders-no-opt/
/shaders-other/
/shaders-reflection/
/tests-other/
.DS_Store
/include/.DS_Store

!CMakeLists.txt
